build/
.env
.torrent*
core
run.sh
v.sh
out
Dockerfile
m.db
config.json
cache/
__debug_bin773937455
scan.log
medias/
bin
dl/
data/
private.txt
kosmixutil/ygg/node_modules
engine/test.html
wrapper
bfg-1.14.0.jar
replace.txt